.kvadrat img{
    width: 54px;
    height: 54px;
    color:#FCE5DD;
    border: 5px solid #FCE5DD;
    background-color:#DE3937; 
    margin: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;}
.tap{
    width: 297.94px;
    height: 54px;
    color:#FCE5DD;
    border: 5px solid #FCE5DD;
    background-color:#DE3937; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 30px;
}

.header{
    background-color: #EB8376;
    height: 63;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
}
body{
    display: flex;
    justify-content: center;
    background-image: url(../images/луна.jpg);
    margin: 0;
   }
.mainblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 68px 95px  ;
    width: 95%;
    height: 95%;
    background-color: #EB8376 ;
    border: 5px solid #8F2A18;
    padding: 10px 15px;
 }
 .blocks{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
.right{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}
.left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 700px;
    
}
.info{
    border: 5px solid #FCE5DD;
    background: url(../images/Фон.jpg);
    width: 100%;
    height: 50%;
    padding: 15px;
    color: #FCE5DD;
}
.achieves{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
    

}
.achieve img{
    width: 77px;
    height: 110px;
    border: 5px solid #FCE5DD;
    margin: 5px 5px;
    display: flex;
    justify-content: space-around;
}
.profilepicture img{
    width: 250px;
    height: 250px;
    border: 5px solid #FCE5DD;
    margin: 5px 5px;
    align-self: center;
}
.fandoms{
    background: #DE3937;
    border: 5px solid #FCE5DD;
    margin: 0px 5px;
    padding: 15px;
    color: #FCE5DD;
    width: 100%;
    height: 35%;
}
.name{
    background: #FCE5DD;
    border: 5px solid #EB8376;
    color: #DE3937;
    text-align: center;

}
.titles{
    background: #DE3937;
    border: 5px solid #FCE5DD;
    color: #EB8376;
    margin: 5px 5px;
    padding: 15px;
}
.pcard{
    width: 80%;
    height: 50%;
    padding: 5px 5px;
}