<!doctype html>
<html lang="ru">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    

    <title>Main</title>
  </head>
  <body>
   <header>
    <div class="verh">
       <div class="header">
           <div class="tap">Новеллы</div>
           <div class="tap">Сеть Духовного Общения</div>
           <div class="tap">Рукописи</div>
           <div class="tap">господа совершенствующиеся</div>
           <div class="kvadrat"><img src="../static/images/XieLian.png"></div>
       </div>
    </div>
   </header>
<div class="mainblock"> 

    <div class="novel" blockMDZS>
        <div class="block">
            <div> <img src="../static/images/МагистрОбложка.png"> </div>
            <div class="content">
                <div class="h"> Магистр Дьявольского культа|Мo Dao Zu Shi</div>
                <div class="text">Когда-то давно Магистр дьявольского культа Вэй Усянь странствовал по свету, творя невообразимые бесчинства и хаос, за что миллионы людей ненавидели его. В конце концов он был предан своим шиди и убит союзом орденов, объединившихся, чтобы сокрушить его. Вэй Усянь переродился в теле помешанного, от которого отказался родной орден. Позже его против воли забрал к себе Лань Ванцзи - его давний знакомый.
                    <p> Новелла:</p>
                    <p> Маньхуа:</p>
                    <p>Дунхуа:</p>
                    <p>Дорама: </p>
                </div>

            </div>

        </div>

    </div>

    <div class="novel" blockSVSS>
        <div class="block">
            <div> <img src="../static/images/СистемаОбложка.png"> </div>
            <div class="content">
                <div class="h"> Система 'спаси-себя-сам' для главного злодея|Scum villain 'Self-Saving' System</div>
                <div class="text">Шэнь Юань перерождается в теле молодого мужчины, подлеца и мерзавца Шэнь Цин Цю, которому предначертано умереть от руки своего ученика, Ло Бин Хэ.
                    <p> Новелла:</p>
                    <p> Маньхуа:</p>
                    <p>Дунхуа:</p>
                    <p>Дорама: </p>
                </div>

            </div>

        </div>

    </div>

    <div class="novel" blockTGCF>
        <div class="block">
            <div> <img src="../static/images/НебожижаОбложка.jpg"> </div>
            <div class="content">
                <div class="h"> Благословение Небожителей|Tian Guan Ci Fu</div>
                <div class="text">Нет такого божества, которое бы не знало о Се Ляне – известной на все три мира мишени для насмешек. Се Лянь, Его Высочество наследный принц государства Сяньлэ, снискавший славу и ставший всеобщим любимцем еще в юношестве. Он возносился на небеса трижды. В первый раз, став любимцем Небес, он был изгнан за вмешательство в дела смертных. Не желая мириться с поражением, Се Лянь, спустя несколько лет забвения, вновь поднялся на Небеса и вновь был изгнан. И вот, спустя 800 лет, снова возвратившись к небожителям, Се Лянь встречает загадочного демона, управляющего призраками и держащего в страхе все Небеса…бб

                    <p>Новелла:</p>
                    <p>Маньхуа:</p>
                    <p>Дунхуа:</p>
                    <p>Дорама: </p>
                </div>

            </div>

        </div>

    </div>

    <div class="novel" blockERHA>
        <div class="block">
            <div> <img src="../static/images/ЭрхаОбложка.png"> </div>
            <div class="content">
                <div class="h">Хаски и его белый Кот-Шицзунь|Husky and his white Cat-Shizun</div>
                <div class="text">Мо Жань чувствовал, что выбрать Чу Ваньнина учителем было большой ошибкой. 
                    По правде говоря, Уважаемый Учитель слишком уж похож на кота, а сам он – на постоянно крутящегося под ногами и виляющего хвостом глупого щенка. 
                    <p> Новелла:</p>
                    <p> Маньхуа:</p>
                    <p>Дунхуа:</p>
                    <p>Дорама: </p>
                </div>

            </div>

        </div>

    </div>

</div>

 

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>